* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 4%;
    line-height: 3em;
    font-family: 'Itim', cursive;
    color:rgb(80, 27, 186);
}

body {
    background: linear-gradient(to right, #09C372, #4e53ba);
    align-items: center;
    flex-direction: column;
    display: flex;
}

.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
    position: relative;
  }


.tile {
    border: solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-right: 2px;
    border-bottom: 2px;
}

.tile:nth-child(3n-2) {
    border-left: none;
}

.tile:nth-child(-n + 3) {
    border-top:none;
}

.tile:nth-child(2) {
    border-right: none;
}

.tile:nth-child(6) ~ .tile {
    border-bottom: none;
}

body {
    color: blue;
    font-family: 'Itim', cursive;
    font-size: 1.5em;
}

.button {
    position: bottom, center;
    color: black;
    font-family: bold, 'Times New Roman', Times, serif;
    background-color: red;
    border-radius: 8px;
    margin: 4%;
    margin-left: 5%;
    padding: 10px;
    font-size: 1em;
    position: relative;
    left: 100px;

}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

