h1 {
    font-family: 'Itim', cursive;
}

.background {
    background: linear-gradient(to right, #09C372, #4e53ba); 
}


.title {
    color: rgb(40, 49, 113);
    text-align: center;
    font-size: 100px;
    margin-top: 0%;
}

.display {
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}


.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 40% 40%;
    grid-template-rows: 40% 40% 40%;
    max-width: 300px;

}

.tile {
    border: solid black;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #4ed355;
}

.playerO {
    color: #1f21ac;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #FF3860;
}